FORMAT: 1A
HOST: http://private-c5488-burnhamsproduct.apiary-mock.com

# burnhamsproduct

Price service to get product prices

## Not Found [/v2/products?tpnb=]

### TPNC [GET]

+ Response 404

## Dreamies Mix Beef And Cheese [/v2/products?tpnb=272384261&tpnc=272384261&gtin=272384261&uniqueKey=272384261]

### TPNC [GET]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d","TPNB":"071166778","TPNC":"272384261","GTIN14":"04008429055331","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"DREAMIES","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"G37 CAT PRODUCTS","division":"G AMBIENT DRY GROCERY","group":"G3 PET PRODUCTS","class":"G37G CAT TREATS","subclass":"G37GECAT TREATS AND MILK"},"standardisedDescription":"Dreamies Mix Beef And Cheese 60G","itemNumber":"071166778","TPNA":"410983002","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"CAT FOOD","selInfo":[{"lineno":"1","description":"DREAMIES MIX","source":"RMS"},{"lineno":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineno":"3","description":"60G","source":"RMS"}],"customerFriendlyDescription":"Dreamies Mix Beef And Cheese 60G","components":[{"sequence":"1","name":"(Cheese Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives","Oils and Fats","Minerals","Milk and Milk Derivatives (including 4% Cheese)"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5288 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"583 IU","perServing":""},{"name":"Vitamin E:","perComp":"87 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"20 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"43 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"195 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]},{"sequence":"2","name":"(Beef Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives (including 4% Beef)","Oils and Fats","Minerals"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5304 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"585 IU","perServing":""},{"name":"Vitamin E:","perComp":"88 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"22 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"44 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"199 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"DREAMIES MIX","source":"RMS"},{"lineNo":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineNo":"3","description":"60G","source":"RMS"}],"unitQty":"KG","productDatesInfo":[{"country":"GB","date":"12/02/2012 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"03/06/2012 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"60","quantityUom":"G","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"G","divisionNumber":"700","divisionName":"AMBIENT DRY GROCERY","departmentCode":"G3","departmentNumber":"730","departmentName":"PET PRODUCTS","sectionCode":"G37","sectionNumber":"737","sectionName":"CAT PRODUCTS","classCode":"G37G","classNumber":"7","className":"CAT TREATS","subclassCode":"G37GE","subclassNumber":"5","subclassName":"CAT TREATS AND MILK"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A082d4d1b-9915-4837-af48-97cbabea620d"}],"total":1,"missingSet":["272384261","00000272384261","272384261"]}


## Dreamies Mix Beef And Cheese TPNB [/v2/products?tpnb=071166778&tpnc=071166778&gtin=071166778&uniqueKey=071166778]

### TPNB [GET]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d","TPNB":"071166778","TPNC":"272384261","GTIN14":"04008429055331","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"DREAMIES","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"G37 CAT PRODUCTS","division":"G AMBIENT DRY GROCERY","group":"G3 PET PRODUCTS","class":"G37G CAT TREATS","subclass":"G37GECAT TREATS AND MILK"},"standardisedDescription":"Dreamies Mix Beef And Cheese 60G","itemNumber":"071166778","TPNA":"410983002","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"CAT FOOD","selInfo":[{"lineno":"1","description":"DREAMIES MIX","source":"RMS"},{"lineno":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineno":"3","description":"60G","source":"RMS"}],"customerFriendlyDescription":"Dreamies Mix Beef And Cheese 60G","components":[{"sequence":"1","name":"(Cheese Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives","Oils and Fats","Minerals","Milk and Milk Derivatives (including 4% Cheese)"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5288 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"583 IU","perServing":""},{"name":"Vitamin E:","perComp":"87 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"20 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"43 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"195 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]},{"sequence":"2","name":"(Beef Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives (including 4% Beef)","Oils and Fats","Minerals"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5304 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"585 IU","perServing":""},{"name":"Vitamin E:","perComp":"88 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"22 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"44 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"199 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"DREAMIES MIX","source":"RMS"},{"lineNo":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineNo":"3","description":"60G","source":"RMS"}],"unitQty":"KG","productDatesInfo":[{"country":"GB","date":"12/02/2012 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"03/06/2012 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"60","quantityUom":"G","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"G","divisionNumber":"700","divisionName":"AMBIENT DRY GROCERY","departmentCode":"G3","departmentNumber":"730","departmentName":"PET PRODUCTS","sectionCode":"G37","sectionNumber":"737","sectionName":"CAT PRODUCTS","classCode":"G37G","classNumber":"7","className":"CAT TREATS","subclassCode":"G37GE","subclassNumber":"5","subclassName":"CAT TREATS AND MILK"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A082d4d1b-9915-4837-af48-97cbabea620d"}],"total":1,"missingSet":["272384261","00000272384261","272384261"]}


## Dreamies Mix Beef And Cheese GTIN [/v2/products?tpnb=04008429055331&tpnc=04008429055331&gtin=04008429055331&uniqueKey=04008429055331]

### GTIN [GET]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d","TPNB":"071166778","TPNC":"272384261","GTIN14":"04008429055331","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"DREAMIES","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"G37 CAT PRODUCTS","division":"G AMBIENT DRY GROCERY","group":"G3 PET PRODUCTS","class":"G37G CAT TREATS","subclass":"G37GECAT TREATS AND MILK"},"standardisedDescription":"Dreamies Mix Beef And Cheese 60G","itemNumber":"071166778","TPNA":"410983002","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"CAT FOOD","selInfo":[{"lineno":"1","description":"DREAMIES MIX","source":"RMS"},{"lineno":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineno":"3","description":"60G","source":"RMS"}],"customerFriendlyDescription":"Dreamies Mix Beef And Cheese 60G","components":[{"sequence":"1","name":"(Cheese Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives","Oils and Fats","Minerals","Milk and Milk Derivatives (including 4% Cheese)"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5288 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"583 IU","perServing":""},{"name":"Vitamin E:","perComp":"87 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"20 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"43 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"195 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]},{"sequence":"2","name":"(Beef Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives (including 4% Beef)","Oils and Fats","Minerals"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5304 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"585 IU","perServing":""},{"name":"Vitamin E:","perComp":"88 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"22 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"44 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"199 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"DREAMIES MIX","source":"RMS"},{"lineNo":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineNo":"3","description":"60G","source":"RMS"}],"unitQty":"KG","productDatesInfo":[{"country":"GB","date":"12/02/2012 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"03/06/2012 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"60","quantityUom":"G","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"G","divisionNumber":"700","divisionName":"AMBIENT DRY GROCERY","departmentCode":"G3","departmentNumber":"730","departmentName":"PET PRODUCTS","sectionCode":"G37","sectionNumber":"737","sectionName":"CAT PRODUCTS","classCode":"G37G","classNumber":"7","className":"CAT TREATS","subclassCode":"G37GE","subclassNumber":"5","subclassName":"CAT TREATS AND MILK"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A082d4d1b-9915-4837-af48-97cbabea620d"}],"total":1,"missingSet":["272384261","00000272384261","272384261"]}


## Dreamies Mix Beef And Cheese UUID [/v2/products?tpnb=trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d&tpnc=trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d&gtin=trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d&uniqueKey=trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d]

### UUID [GET]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d","TPNB":"071166778","TPNC":"272384261","GTIN14":"04008429055331","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"DREAMIES","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"G37 CAT PRODUCTS","division":"G AMBIENT DRY GROCERY","group":"G3 PET PRODUCTS","class":"G37G CAT TREATS","subclass":"G37GECAT TREATS AND MILK"},"standardisedDescription":"Dreamies Mix Beef And Cheese 60G","itemNumber":"071166778","TPNA":"410983002","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"CAT FOOD","selInfo":[{"lineno":"1","description":"DREAMIES MIX","source":"RMS"},{"lineno":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineno":"3","description":"60G","source":"RMS"}],"customerFriendlyDescription":"Dreamies Mix Beef And Cheese 60G","components":[{"sequence":"1","name":"(Cheese Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives","Oils and Fats","Minerals","Milk and Milk Derivatives (including 4% Cheese)"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5288 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"583 IU","perServing":""},{"name":"Vitamin E:","perComp":"87 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"20 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"43 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"195 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]},{"sequence":"2","name":"(Beef Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives (including 4% Beef)","Oils and Fats","Minerals"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5304 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"585 IU","perServing":""},{"name":"Vitamin E:","perComp":"88 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"22 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"44 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"199 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"DREAMIES MIX","source":"RMS"},{"lineNo":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineNo":"3","description":"60G","source":"RMS"}],"unitQty":"KG","productDatesInfo":[{"country":"GB","date":"12/02/2012 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"03/06/2012 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"60","quantityUom":"G","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"G","divisionNumber":"700","divisionName":"AMBIENT DRY GROCERY","departmentCode":"G3","departmentNumber":"730","departmentName":"PET PRODUCTS","sectionCode":"G37","sectionNumber":"737","sectionName":"CAT PRODUCTS","classCode":"G37G","classNumber":"7","className":"CAT TREATS","subclassCode":"G37GE","subclassNumber":"5","subclassName":"CAT TREATS AND MILK"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A082d4d1b-9915-4837-af48-97cbabea620d"}],"total":1,"missingSet":["272384261","00000272384261","272384261"]}


## Tesco Baking Potatoes [/v2/products?tpnb=253558183&tpnc=253558183&gtin=253558183&uniqueKey=253558183]

### TPNC [GET]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:409fbd58-bf4a-4630-923f-0299afb83ee6","TPNB":"050503464","TPNC":"253558183","GTIN14":"02110150000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A409fbd58-bf4a-4630-923f-0299afb83ee6"},{"uniqueKey":"trn:tesco:product:uuid:4f21afcb-a552-4792-97e3-10a3d15febca","TPNB":"050503464","TPNC":"253558183","GTIN14":"00262410000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A4f21afcb-a552-4792-97e3-10a3d15febca"},{"uniqueKey":"trn:tesco:product:uuid:eb2223b1-41af-4b55-b928-2f8ac7c36f0a","TPNB":"050503464","TPNC":"253558183","GTIN14":"00269150000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3Aeb2223b1-41af-4b55-b928-2f8ac7c36f0a"}],"total":3,"missingSet":[]}


## Tesco Baking Potatoes [/v2/products?tpnb=050503464&tpnc=050503464&gtin=050503464&uniqueKey=050503464]

### TPNB [GET]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:409fbd58-bf4a-4630-923f-0299afb83ee6","TPNB":"050503464","TPNC":"253558183","GTIN14":"02110150000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A409fbd58-bf4a-4630-923f-0299afb83ee6"},{"uniqueKey":"trn:tesco:product:uuid:4f21afcb-a552-4792-97e3-10a3d15febca","TPNB":"050503464","TPNC":"253558183","GTIN14":"00262410000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A4f21afcb-a552-4792-97e3-10a3d15febca"},{"uniqueKey":"trn:tesco:product:uuid:eb2223b1-41af-4b55-b928-2f8ac7c36f0a","TPNB":"050503464","TPNC":"253558183","GTIN14":"00269150000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3Aeb2223b1-41af-4b55-b928-2f8ac7c36f0a"}],"total":3,"missingSet":[]}


## Tesco Baking Potatoes [/v2/products?tpnb=02110150000000&tpnc=02110150000000&gtin=02110150000000&uniqueKey=02110150000000]

### GTIN [GET]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:409fbd58-bf4a-4630-923f-0299afb83ee6","TPNB":"050503464","TPNC":"253558183","GTIN14":"02110150000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A409fbd58-bf4a-4630-923f-0299afb83ee6"},{"uniqueKey":"trn:tesco:product:uuid:4f21afcb-a552-4792-97e3-10a3d15febca","TPNB":"050503464","TPNC":"253558183","GTIN14":"00262410000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A4f21afcb-a552-4792-97e3-10a3d15febca"},{"uniqueKey":"trn:tesco:product:uuid:eb2223b1-41af-4b55-b928-2f8ac7c36f0a","TPNB":"050503464","TPNC":"253558183","GTIN14":"00269150000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3Aeb2223b1-41af-4b55-b928-2f8ac7c36f0a"}],"total":3,"missingSet":[]}


## Tesco Baking Potatoes [/v2/products?tpnb=trn:tesco:product:uuid:409fbd58-bf4a-4630-923f-0299afb83ee6&tpnc=trn:tesco:product:uuid:409fbd58-bf4a-4630-923f-0299afb83ee6&gtin=trn:tesco:product:uuid:409fbd58-bf4a-4630-923f-0299afb83ee6&uniqueKey=trn:tesco:product:uuid:409fbd58-bf4a-4630-923f-0299afb83ee6]

### UUID [GET]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:409fbd58-bf4a-4630-923f-0299afb83ee6","TPNB":"050503464","TPNC":"253558183","GTIN14":"02110150000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A409fbd58-bf4a-4630-923f-0299afb83ee6"},{"uniqueKey":"trn:tesco:product:uuid:4f21afcb-a552-4792-97e3-10a3d15febca","TPNB":"050503464","TPNC":"253558183","GTIN14":"00262410000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A4f21afcb-a552-4792-97e3-10a3d15febca"},{"uniqueKey":"trn:tesco:product:uuid:eb2223b1-41af-4b55-b928-2f8ac7c36f0a","TPNB":"050503464","TPNC":"253558183","GTIN14":"00269150000000","sellingUnitOfMeasure":"KG","marketingTextInfo":[{"text":"The perfect quick and healthy meal; ideal for busy people on the go. Selected\nfor their size a jacket potato makes an ideal meal with your favourite topping.\nTo shorten the cooking time pop in the microwave first, then crisp up the skin\nin the oven. Need some inspiration for your baking potatoes ? Click on the\nrecipes tab which will take you to the Tesco Real Food page.\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/000/0262410000000/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"TESCO","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"F15 VEGETABLES","division":"F FRESH FOODS","group":"F1 FRESH FRUIT/VEG/SALAD","class":"F15S POTATOES","subclass":"F15SCLOOSE POTATOES"},"standardisedDescription":"Tesco Baking Potatoes Loose","itemNumber":"050503464","TPNA":"403038652","sellByType":"W","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"BAKING POTATO","selInfo":[{"lineno":"1","description":"TESCO","source":"RMS"},{"lineno":"2","description":"BAKING POTATOES","source":"RMS"},{"lineno":"3","description":"LOOSE","source":"RMS"}],"customerFriendlyDescription":"Tesco Baking Potatoes Loose","storage":["For maximum freshness, store in a cool, dark place. Wash before use."],"gda":[{"name":"Energy","value":"269","percent":"13"},{"name":"Fat","value":"0.5","percent":"1"},{"name":"Saturates","value":"0.3","percent":"2"},{"name":"Salt","value":"0.1","percent":"2"},{"name":"Sugars","value":"3.5","percent":"4"}],"nutritionalInfo":[{"name":"Typical Values","perComp":"100g contains","perServing":"250g contains"},{"name":"Energy","perComp":"455kJ  (107kcal) ","perServing":"1137kJ  (269kcal) "},{"name":"Protein","perComp":"2.5g","perServing":"6.3g"},{"name":"Carbohydrate","perComp":"22.6g","perServing":"56.5g"},{"name":"Sugars","perComp":"1.4g","perServing":"3.5g"},{"name":"Fat","perComp":"0.2g","perServing":"0.5g"},{"name":"Saturates","perComp":"0.1g","perServing":"0.3g"},{"name":"Fibre","perComp":"2.6g","perServing":"6.5g"},{"name":"Salt","perComp":"<0.01g","perServing":"0.1g"},{"name":"Thiamin (Vitamin B1)","perComp":"0.2mg  (18% of NRV)","perServing":"0.5mg  (45% of NRV)"},{"name":"Folic Acid","perComp":"18.0&#181;g  (9% of NRV)","perServing":"45.0&#181;g  (23% of NRV)"},{"name":"*Reference intake of an average adult (8400 kJ / 2000 kcal)","perComp":"-","perServing":"-"}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"TESCO","source":"RMS"},{"lineNo":"2","description":"BAKING POTATOES","source":"RMS"},{"lineNo":"3","description":"LOOSE","source":"RMS"}],"productDatesInfo":[{"country":"GB","date":"16/10/1988 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"01/04/2001 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"1","quantityUom":"KG","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"F","divisionNumber":"600","divisionName":"FRESH FOODS","departmentCode":"F1","departmentNumber":"610","departmentName":"FRESH FRUIT/VEG/SALAD","sectionCode":"F15","sectionNumber":"615","sectionName":"VEGETABLES","classCode":"F15S","classNumber":"19","className":"POTATOES","subclassCode":"F15SC","subclassNumber":"3","subclassName":"LOOSE POTATOES"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3Aeb2223b1-41af-4b55-b928-2f8ac7c36f0a"}],"total":3,"missingSet":[]}


## Champagne [/v2/products?tpnb=250373296&tpnc=250373296&gtin=250373296&uniqueKey=250373296]

### TPNC [GET]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:02d0d819-d3aa-4071-9163-ea50a4fa98a9","TPNB":"052182793","TPNC":"250373296","GTIN14":"03282946100083","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"Fresh and floral aromas with subtle white fruits such as apples and pears. On the palate dry, creamy texture with sweet citrus fruit flavours. This is the perfect champagne for aperitif. Serve at 6 8c\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"NICOLAS FEUILLATTE","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"W47 OTHER WINES","division":"W WINES & SPIRITS","group":"W4 TABLE WINES","class":"W47D SPARKLING WINES","subclass":"W47DACHAMPAGNE"},"standardisedDescription":"Nicolas Feuillatte Brut Champagne 75Cl","itemNumber":"052182793","TPNA":"402315401","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"FEUILLATTE","selInfo":[{"lineno":"1","description":"NICOLAS","source":"RMS"},{"lineno":"2","description":"FEUILLATTE BRUT","source":"RMS"},{"lineno":"3","description":"CHAMPAGNE 75CL","source":"RMS"}],"customerFriendlyDescription":"Nicolas Feuillatte Brut Champagne 75Cl","allergenInfo":[{"allergenName":"Contains","allergenValues":["Sulphur Dioxide/Sulphites"]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"NICOLAS","source":"RMS"},{"lineNo":"2","description":"FEUILLATTE BRUT","source":"RMS"},{"lineNo":"3","description":"CHAMPAGNE 75CL","source":"RMS"}],"epiSelInfo":[{"lineNo":"1","description":"Floral aromatics lead to","source":"RMS"},{"lineNo":"2","description":"soft vanilla and some","source":"RMS"},{"lineNo":"3","description":"toasty oatcake notes","source":"RMS"},{"lineNo":"4","description":"Great with party nibbles","source":"RMS"},{"lineNo":"5","description":"Taste Guide: 2","source":"RMS"}],"unitQty":"75CL","productDatesInfo":[{"country":"GB","date":"17/09/1995 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"22/03/2009 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"75","quantityUom":"CL","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"W","divisionNumber":"2300","divisionName":"WINES & SPIRITS","departmentCode":"W4","departmentNumber":"2340","departmentName":"TABLE WINES","sectionCode":"W47","sectionNumber":"2347","sectionName":"OTHER WINES","classCode":"W47D","classNumber":"4","className":"SPARKLING WINES","subclassCode":"W47DA","subclassNumber":"1","subclassName":"CHAMPAGNE"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A02d0d819-d3aa-4071-9163-ea50a4fa98a9"},{"uniqueKey":"trn:tesco:product:uuid:3b6ade52-c583-47ab-9b6b-96a5f80a5246","TPNB":"052182793","TPNC":"250373296","GTIN14":"03282946047937","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"Fresh and floral aromas with subtle white fruits such as apples and pears. On the palate dry, creamy texture with sweet citrus fruit flavours. This is the perfect champagne for aperitif. Serve at 6 8c\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"NICOLAS FEUILLATTE","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"W47 OTHER WINES","division":"W WINES & SPIRITS","group":"W4 TABLE WINES","class":"W47D SPARKLING WINES","subclass":"W47DACHAMPAGNE"},"standardisedDescription":"Nicolas Feuillatte Brut Champagne 75Cl","itemNumber":"052182793","TPNA":"402315401","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"FEUILLATTE","selInfo":[{"lineno":"1","description":"NICOLAS","source":"RMS"},{"lineno":"2","description":"FEUILLATTE BRUT","source":"RMS"},{"lineno":"3","description":"CHAMPAGNE 75CL","source":"RMS"}],"customerFriendlyDescription":"Nicolas Feuillatte Brut Champagne 75Cl","allergenInfo":[{"allergenName":"Contains","allergenValues":["Sulphur Dioxide/Sulphites"]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"NICOLAS","source":"RMS"},{"lineNo":"2","description":"FEUILLATTE BRUT","source":"RMS"},{"lineNo":"3","description":"CHAMPAGNE 75CL","source":"RMS"}],"epiSelInfo":[{"lineNo":"1","description":"Floral aromatics lead to","source":"RMS"},{"lineNo":"2","description":"soft vanilla and some","source":"RMS"},{"lineNo":"3","description":"toasty oatcake notes","source":"RMS"},{"lineNo":"4","description":"Great with party nibbles","source":"RMS"},{"lineNo":"5","description":"Taste Guide: 2","source":"RMS"}],"unitQty":"75CL","productDatesInfo":[{"country":"GB","date":"17/09/1995 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"22/03/2009 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"75","quantityUom":"CL","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"W","divisionNumber":"2300","divisionName":"WINES & SPIRITS","departmentCode":"W4","departmentNumber":"2340","departmentName":"TABLE WINES","sectionCode":"W47","sectionNumber":"2347","sectionName":"OTHER WINES","classCode":"W47D","classNumber":"4","className":"SPARKLING WINES","subclassCode":"W47DA","subclassNumber":"1","subclassName":"CHAMPAGNE"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A3b6ade52-c583-47ab-9b6b-96a5f80a5246"},{"uniqueKey":"trn:tesco:product:uuid:4a8e8bad-07e0-4290-b050-a06ca6e9a2f4","TPNB":"052182793","TPNC":"250373296","GTIN14":"03282946009102","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"Fresh and floral aromas with subtle white fruits such as apples and pears. On the palate dry, creamy texture with sweet citrus fruit flavours. This is the perfect champagne for aperitif. Serve at 6 8c\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"NICOLAS FEUILLATTE","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"W47 OTHER WINES","division":"W WINES & SPIRITS","group":"W4 TABLE WINES","class":"W47D SPARKLING WINES","subclass":"W47DACHAMPAGNE"},"standardisedDescription":"Nicolas Feuillatte Brut Champagne 75Cl","itemNumber":"052182793","TPNA":"402315401","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"FEUILLATTE","selInfo":[{"lineno":"1","description":"NICOLAS","source":"RMS"},{"lineno":"2","description":"FEUILLATTE BRUT","source":"RMS"},{"lineno":"3","description":"CHAMPAGNE 75CL","source":"RMS"}],"customerFriendlyDescription":"Nicolas Feuillatte Brut Champagne 75Cl","allergenInfo":[{"allergenName":"Contains","allergenValues":["Sulphur Dioxide/Sulphites"]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"NICOLAS","source":"RMS"},{"lineNo":"2","description":"FEUILLATTE BRUT","source":"RMS"},{"lineNo":"3","description":"CHAMPAGNE 75CL","source":"RMS"}],"epiSelInfo":[{"lineNo":"1","description":"Floral aromatics lead to","source":"RMS"},{"lineNo":"2","description":"soft vanilla and some","source":"RMS"},{"lineNo":"3","description":"toasty oatcake notes","source":"RMS"},{"lineNo":"4","description":"Great with party nibbles","source":"RMS"},{"lineNo":"5","description":"Taste Guide: 2","source":"RMS"}],"unitQty":"75CL","productDatesInfo":[{"country":"GB","date":"17/09/1995 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"22/03/2009 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"75","quantityUom":"CL","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"W","divisionNumber":"2300","divisionName":"WINES & SPIRITS","departmentCode":"W4","departmentNumber":"2340","departmentName":"TABLE WINES","sectionCode":"W47","sectionNumber":"2347","sectionName":"OTHER WINES","classCode":"W47D","classNumber":"4","className":"SPARKLING WINES","subclassCode":"W47DA","subclassNumber":"1","subclassName":"CHAMPAGNE"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A4a8e8bad-07e0-4290-b050-a06ca6e9a2f4"},{"uniqueKey":"trn:tesco:product:uuid:5709e4a2-f8a5-498c-8206-6aba75fec7ca","TPNB":"052182793","TPNC":"250373296","GTIN14":"03282946009768","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"Fresh and floral aromas with subtle white fruits such as apples and pears. On the palate dry, creamy texture with sweet citrus fruit flavours. This is the perfect champagne for aperitif. Serve at 6 8c\n","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/083/3282946100083/IDShot_540x540.jpg","default":"N","source":"Sonetto","s
[...]
