FORMAT: 1A
HOST: http://private-c5488-burnhamsproduct.apiary-mock.com

# burnhamsproduct

Price service to get product prices

## Dreamies Mix Beef And Cheese

### TPNC [GET /v2/products?tpnb=272384261&tpnc=272384261&gtin=272384261&uniqueKey=272384261]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d","TPNB":"071166778","TPNC":"272384261","GTIN14":"04008429055331","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"DREAMIES","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"G37 CAT PRODUCTS","division":"G AMBIENT DRY GROCERY","group":"G3 PET PRODUCTS","class":"G37G CAT TREATS","subclass":"G37GECAT TREATS AND MILK"},"standardisedDescription":"Dreamies Mix Beef And Cheese 60G","itemNumber":"071166778","TPNA":"410983002","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"CAT FOOD","selInfo":[{"lineno":"1","description":"DREAMIES MIX","source":"RMS"},{"lineno":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineno":"3","description":"60G","source":"RMS"}],"customerFriendlyDescription":"Dreamies Mix Beef And Cheese 60G","components":[{"sequence":"1","name":"(Cheese Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives","Oils and Fats","Minerals","Milk and Milk Derivatives (including 4% Cheese)"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5288 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"583 IU","perServing":""},{"name":"Vitamin E:","perComp":"87 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"20 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"43 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"195 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]},{"sequence":"2","name":"(Beef Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives (including 4% Beef)","Oils and Fats","Minerals"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5304 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"585 IU","perServing":""},{"name":"Vitamin E:","perComp":"88 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"22 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"44 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"199 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"DREAMIES MIX","source":"RMS"},{"lineNo":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineNo":"3","description":"60G","source":"RMS"}],"unitQty":"KG","productDatesInfo":[{"country":"GB","date":"12/02/2012 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"03/06/2012 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"60","quantityUom":"G","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"G","divisionNumber":"700","divisionName":"AMBIENT DRY GROCERY","departmentCode":"G3","departmentNumber":"730","departmentName":"PET PRODUCTS","sectionCode":"G37","sectionNumber":"737","sectionName":"CAT PRODUCTS","classCode":"G37G","classNumber":"7","className":"CAT TREATS","subclassCode":"G37GE","subclassNumber":"5","subclassName":"CAT TREATS AND MILK"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A082d4d1b-9915-4837-af48-97cbabea620d"}],"total":1,"missingSet":["272384261","00000272384261","272384261"]}


### TPNB [GET /v2/products?tpnb=071166778&tpnc=071166778&gtin=071166778&uniqueKey=071166778]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d","TPNB":"071166778","TPNC":"272384261","GTIN14":"04008429055331","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"DREAMIES","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"G37 CAT PRODUCTS","division":"G AMBIENT DRY GROCERY","group":"G3 PET PRODUCTS","class":"G37G CAT TREATS","subclass":"G37GECAT TREATS AND MILK"},"standardisedDescription":"Dreamies Mix Beef And Cheese 60G","itemNumber":"071166778","TPNA":"410983002","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"CAT FOOD","selInfo":[{"lineno":"1","description":"DREAMIES MIX","source":"RMS"},{"lineno":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineno":"3","description":"60G","source":"RMS"}],"customerFriendlyDescription":"Dreamies Mix Beef And Cheese 60G","components":[{"sequence":"1","name":"(Cheese Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives","Oils and Fats","Minerals","Milk and Milk Derivatives (including 4% Cheese)"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5288 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"583 IU","perServing":""},{"name":"Vitamin E:","perComp":"87 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"20 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"43 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"195 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]},{"sequence":"2","name":"(Beef Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives (including 4% Beef)","Oils and Fats","Minerals"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5304 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"585 IU","perServing":""},{"name":"Vitamin E:","perComp":"88 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"22 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"44 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"199 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"DREAMIES MIX","source":"RMS"},{"lineNo":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineNo":"3","description":"60G","source":"RMS"}],"unitQty":"KG","productDatesInfo":[{"country":"GB","date":"12/02/2012 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"03/06/2012 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"60","quantityUom":"G","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"G","divisionNumber":"700","divisionName":"AMBIENT DRY GROCERY","departmentCode":"G3","departmentNumber":"730","departmentName":"PET PRODUCTS","sectionCode":"G37","sectionNumber":"737","sectionName":"CAT PRODUCTS","classCode":"G37G","classNumber":"7","className":"CAT TREATS","subclassCode":"G37GE","subclassNumber":"5","subclassName":"CAT TREATS AND MILK"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A082d4d1b-9915-4837-af48-97cbabea620d"}],"total":1,"missingSet":["272384261","00000272384261","272384261"]}


### GTIN [GET /v2/products?tpnb=04008429055331&tpnc=04008429055331&gtin=04008429055331&uniqueKey=04008429055331]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d","TPNB":"071166778","TPNC":"272384261","GTIN14":"04008429055331","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"DREAMIES","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"G37 CAT PRODUCTS","division":"G AMBIENT DRY GROCERY","group":"G3 PET PRODUCTS","class":"G37G CAT TREATS","subclass":"G37GECAT TREATS AND MILK"},"standardisedDescription":"Dreamies Mix Beef And Cheese 60G","itemNumber":"071166778","TPNA":"410983002","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"CAT FOOD","selInfo":[{"lineno":"1","description":"DREAMIES MIX","source":"RMS"},{"lineno":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineno":"3","description":"60G","source":"RMS"}],"customerFriendlyDescription":"Dreamies Mix Beef And Cheese 60G","components":[{"sequence":"1","name":"(Cheese Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives","Oils and Fats","Minerals","Milk and Milk Derivatives (including 4% Cheese)"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5288 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"583 IU","perServing":""},{"name":"Vitamin E:","perComp":"87 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"20 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"43 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"195 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]},{"sequence":"2","name":"(Beef Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives (including 4% Beef)","Oils and Fats","Minerals"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5304 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"585 IU","perServing":""},{"name":"Vitamin E:","perComp":"88 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"22 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"44 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"199 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"DREAMIES MIX","source":"RMS"},{"lineNo":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineNo":"3","description":"60G","source":"RMS"}],"unitQty":"KG","productDatesInfo":[{"country":"GB","date":"12/02/2012 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"03/06/2012 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"60","quantityUom":"G","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"G","divisionNumber":"700","divisionName":"AMBIENT DRY GROCERY","departmentCode":"G3","departmentNumber":"730","departmentName":"PET PRODUCTS","sectionCode":"G37","sectionNumber":"737","sectionName":"CAT PRODUCTS","classCode":"G37G","classNumber":"7","className":"CAT TREATS","subclassCode":"G37GE","subclassNumber":"5","subclassName":"CAT TREATS AND MILK"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A082d4d1b-9915-4837-af48-97cbabea620d"}],"total":1,"missingSet":["272384261","00000272384261","272384261"]}


### UUID [GET /v2/products?tpnb=trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d&tpnc=trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d&gtin=trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d&uniqueKey=trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d]

+ Response 200 (application/json)

        {"products":[{"uniqueKey":"trn:tesco:product:uuid:082d4d1b-9915-4837-af48-97cbabea620d","TPNB":"071166778","TPNC":"272384261","GTIN14":"04008429055331","sellingUnitOfMeasure":"EA","marketingTextInfo":[{"text":"","source":"Sonetto"}],"contentInfo":[{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_90x90.jpg","default":"Y","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_60x60.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_110x110.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_225x225.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_77x92.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_126x150.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_150x300.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_45x45.jpg","default":"N","source":"Sonetto","status":"","type":""},{"url":"http://img.tesco.com/Groceries/pi/331/4008429055331/IDShot_540x540.jpg","default":"N","source":"Sonetto","status":"","type":""}],"brandInfo":[{"brand":"DREAMIES","source":"RMS"}],"statusInfo":[{"status":"Approved","source":"RMS"}],"commercialHierarchy":{"department":"G37 CAT PRODUCTS","division":"G AMBIENT DRY GROCERY","group":"G3 PET PRODUCTS","class":"G37G CAT TREATS","subclass":"G37GECAT TREATS AND MILK"},"standardisedDescription":"Dreamies Mix Beef And Cheese 60G","itemNumber":"071166778","TPNA":"410983002","sellByType":"I","ukEPWIndicator":"N","roiEPWIndicator":"N","tillDescription":"CAT FOOD","selInfo":[{"lineno":"1","description":"DREAMIES MIX","source":"RMS"},{"lineno":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineno":"3","description":"60G","source":"RMS"}],"customerFriendlyDescription":"Dreamies Mix Beef And Cheese 60G","components":[{"sequence":"1","name":"(Cheese Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives","Oils and Fats","Minerals","Milk and Milk Derivatives (including 4% Cheese)"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5288 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"583 IU","perServing":""},{"name":"Vitamin E:","perComp":"87 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"20 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"43 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"195 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]},{"sequence":"2","name":"(Beef Kibble):","ingredients":["Vegetable Protein Extracts","Cereals","Meat and Animal Derivatives (including 4% Beef)","Oils and Fats","Minerals"],"storage":["Store in a cool and dry place."],"nutritionalInfo":[{"name":"Typical Values","perComp":"Typical Values Analytical constituents (%):","perServing":""},{"name":"Protein:       ","perComp":"34","perServing":""},{"name":"Fat content:","perComp":"20","perServing":""},{"name":"Inorganic matter:","perComp":"9.5","perServing":""},{"name":"Crude fibres:","perComp":"1","perServing":""},{"name":"Additives per kg:","perComp":"-","perServing":""},{"name":"Antioxidants / Nutritional additives:","perComp":"-","perServing":""},{"name":"Vitamin A:","perComp":"5304 IU","perServing":""},{"name":"Vitamin B1:","perComp":"14 mg","perServing":""},{"name":"Vitamin B2:","perComp":"7 mg","perServing":""},{"name":"Vitamin B6:","perComp":"5 mg","perServing":""},{"name":"Vitamin D3:","perComp":"585 IU","perServing":""},{"name":"Vitamin E:","perComp":"88 mg","perServing":""},{"name":"Cupric sulphate pentahydrate:","perComp":"22 mg","perServing":""},{"name":"Manganous sulphate monohydrate:","perComp":"44 mg","perServing":""},{"name":"Potassium iodide:","perComp":"1 mg","perServing":""},{"name":"Zinc sulphate monohydrate:","perComp":"199 mg","perServing":""}],"marketingTextInfo":[{"text":"Complementary pet food for cats and kittens.\n","source":"Sonetto"}]}],"countryAuthInfo":["GB","IE"],"suspended":"N","baseDescriptionInfo":[{"lineNo":"1","description":"DREAMIES MIX","source":"RMS"},{"lineNo":"2","description":"BEEF & CHEESE","source":"RMS"},{"lineNo":"3","description":"60G","source":"RMS"}],"unitQty":"KG","productDatesInfo":[{"country":"GB","date":"12/02/2012 00:00:00","dateType":"launch","source":"RMS"},{"country":"IE","date":"03/06/2012 00:00:00","dateType":"launch","source":"RMS"}],"drainedIndicatorInfo":[{"country":"GB","indicator":"N","source":"RMS"},{"country":"IE","indicator":"N","source":"RMS"}],"quantityInfo":[{"quantity":"60","quantityUom":"G","source":"RMS"}],"variantReasonCode":"N","commercialHierarchyInfo":{"divisionCode":"G","divisionNumber":"700","divisionName":"AMBIENT DRY GROCERY","departmentCode":"G3","departmentNumber":"730","departmentName":"PET PRODUCTS","sectionCode":"G37","sectionNumber":"737","sectionName":"CAT PRODUCTS","classCode":"G37G","classNumber":"7","className":"CAT TREATS","subclassCode":"G37GE","subclassNumber":"5","subclassName":"CAT TREATS AND MILK"},"href":"http://product.global.tesco.org:8080/v2/products/trn%3Atesco%3Aproduct%3Auuid%3A082d4d1b-9915-4837-af48-97cbabea620d"}],"total":1,"missingSet":["272384261","00000272384261","272384261"]}
